body{
	margin: auto;
	background-color: #CCFFFF;
}
.login{
	color: green;
	background-color: #FFCCCC;
	border-color: #FFCCCC;
	width: 100px;
	height: 40px;
	font-size: 20px;
	font-family: bold;
	font-weight: bold;
}

.login:hover{
	background-color: yellow;
}

.content1{
	margin-top: 100px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.content2{
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.content3{
	padding-top: 10px;
	text-align: center;
	margin-left: 100px;
}

input{
	width: 300px;
	height: 30px;
	border-color: blue;
	border-width: 1px;
}

input:hover{
	border-color: #FF9900;
}
.username{
	margin-left: 4px;
}
.password{
	margin-left: 10px;
}